<div class="row">
    <!-- need hide -->
    <div class="col-sm-12">
        <div class="panel panel-default text-left">
            <div class="panel-body">
                <div class="container m-1">
                    <form>
                        <div class="form-row">
                            <div class="col-10">
                                <input type="text" #statusText class="form-control" placeholder="Type your status">
                            </div>
                            <div class="col-2">
                                <button class="btn" (click)="setStatus(statusText.value)">POST</button>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<div>
    <div class="row m-2 border shadow" *ngFor="let st of status">

        <div class="col m-1 p-0 d-flex align-content-start">
            <div class="text-left">
                <img src="/api/upload/image/{{st.profilePic}}" class="img-fluid">
                <div class="text-muted">saransh{{st.name}}</div>
            </div>

            <div class="col text-left m-auto">
                <div class="status-pipe m-1"></div>
                <div class="m-3">{{st.status}}</div>
            </div>


        </div>

    </div>
</div>