<div>
    <div class="row m-2 border shadow">

        <div class="col-sm-1 m-1 p-0">
            <div class="row m-0 p-0">
                <div class="col m-0 p-0">
                    <img src="/api/upload/image/{{userDetails.profilePic}}"
                        class="img-fluid" alt="Responsive image">
                        <div class="text-muted" style="font-size:.9vw;">Saransh</div>
                </div>
            </div>

        </div>
        <div class="col-sm-10 m-1 p-0">
            <div class="row h-100">
                <div class="col text-left m-auto">
                    <div class="status-pipe float-left m-1"></div>
                    <div class="m-3">Hey i am working on layout making is responsive</div>
                </div>
            </div>


        </div>
    </div>
    <div class="row m-2 border shadow">

            <div class="col-sm-1 m-1 p-0">
                <div class="row m-0 p-0">
                    <div class="col m-0 p-0">
                        <img src="/api/upload/image/{{userDetails.profilePic}}"
                            class="img-fluid" alt="Responsive image">
                            <div class="text-muted" style="font-size:.9vw;">Saransh</div>
                    </div>
                </div>
    
            </div>
            <div class="col-sm-10 m-1 p-0">
                <div class="row h-100">
                    <div class="col text-left m-auto">
                        <div class="status-pipe float-left m-1"></div>
                        <div class="m-3">Hey i am working on layout making is responsive</div>
                    </div>
                </div>
    
    
            </div>
        </div>
        <div class="row m-2 border shadow">

                <div class="col-sm-1 m-1 p-0">
                    <div class="row m-0 p-0">
                        <div class="col m-0 p-0">
                            <img src="/api/upload/image/{{userDetails.profilePic}}"
                                class="img-fluid" alt="Responsive image">
                                <div class="text-muted" style="font-size:.9vw;">Saransh</div>
                        </div>
                    </div>
        
                </div>
                <div class="col-sm-10 m-1 p-0">
                    <div class="row h-100">
                        <div class="col text-left m-auto">
                            <div class="status-pipe float-left m-1"></div>
                            <div class="m-3">Hey i am working on layout making is responsive</div>
                        </div>
                    </div>
        
        
                </div>
            </div>
            <div class="row m-2 border shadow">

                    <div class="col-sm-1 m-1 p-0">
                        <div class="row m-0 p-0">
                            <div class="col m-0 p-0">
                                <img src="/api/upload/image/{{userDetails.profilePic}}"
                                    class="img-fluid" alt="Responsive image">
                                    <div class="text-muted" style="font-size:.9vw;">Saransh</div>
                            </div>
                        </div>
            
                    </div>
                    <div class="col-sm-10 m-1 p-0">
                        <div class="row h-100">
                            <div class="col text-left m-auto">
                                <div class="status-pipe float-left m-1"></div>
                                <div class="m-3">Hey i am working on layout making is responsive</div>
                            </div>
                        </div>
            
            
                    </div>
                </div>
</div>