
  <div [hidden]="usercreated">
      <form #id [formGroup]="myForm" (ngSubmit)="onSubmit()">
          Username<input type="text" formControlName="username" minlength="8"><br>
          Password<input type="text" formControlName="password" minlength="8" #pass><br>
          Confirm Password<input type="text" formControlName="confirmPassword" minlength="8"><br>
          Email<input type="email" formControlName="email" ><br>
          Number<input type="number" formControlName="number" pattern="(?=.*\d).{10}"><br>
          Birthday<input type="date" formControlName="birthday"><br>
          Gender
          <div *ngFor="let g of genders">
            <input type="radio" formControlName="gender" [value]="g">
            {{g}}
          </div>
          <button type="submit" [disabled]="!myForm.valid">Submit</button>
        </form>
  </div>
  <div [hidden]="!usercreated">Your profile has been created</div>
