<div class="well">
  <img src="/api/upload/image/{{userDetails.profilePic}}"
    class="img-fluid rounded-circle shadow" alt="Responsive image">

  <h3>{{userDetails.fname}}</h3>

</div>
<input [(ngModel)]="reccuser" class="form-control mr-sm-1 search" type="text" placeholder="Search User" aria-label="Search">
<div class="m-1">
  <ul class="list-group-flush m-0 p-0">
    <li class="list-group-item m-0 p-1" *ngFor="let user of recommendedUser">
      <div class="row">
        <div class="col m-2">
          {{user.name}}
        </div>
        <div class="col">
          <button class="btn btn-light" (click)="invite(user.email)"><i class="fas fa-user-plus"></i></button>
        </div>
      </div>


    </li>
  </ul>
</div>