<form #id [formGroup]="myForm" (ngSubmit)="onSubmit()">
    Username<input type="text" formControlName="username"><br>
    Password<input type="text" formControlName="password"><br>
    Confirm Password<input type="text" formControlName="confirmpassword"><br>
    Email<input type="text" formControlName="email"><br>
    Number<input type="text" formControlName="number"><br>
    Birthday<input type="date" formControlName="birthday"><br>
    Gender
    <div *ngFor="let g of genders">
      <input type="radio" formControlName="gender" [value]="g">
      {{g}}
    </div>
    <button type="submit" [disabled]="!myForm.valid">Submit</button>
  </form>